name: Docker Image

on:
  push:
    branches:
      - 'main'
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build & Push Image
      run: |
        echo "${{ secrets.DOCKERPW }}" | docker login -u "hackacloud" --password-stdin
        docker image build -t hackacloud/cloud-pentest-framework .
        docker push hackacloud/cloud-pentest-framework
